<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/about">About</a>
    <a class="navbar-brand" href="/work">Work</a>
    <a class="navbar-brand" href="/contact">Contact</a>
</nav>